/* Variables */

:root {
	--clock-size: 85%;
	--background-color: #000000;
	--hours-radius: translateY(39.5vh);

	/* Calendar */

	--vanilla-calendar-bg-color: rgb(0, 0, 0);
	--vanilla-calendar-border-radius: 0px;
	--vanilla-calendar-border-color: #4c4c4c;
	--vanilla-calendar-today-bg-color: #25384a;
	--vanilla-calendar-today-color: rgb(255, 255, 255);
	--vanilla-calendar-selected-bg-color: #000000;
	--vanilla-calendar-selected-color: #4c4c4c;
	--vanilla-calendar-selected-radius: 0px;
}

/* Styles */

html,
body {
	background-color: var(--background-color);
	color: #ffffff;
	height: 100%;
	width: 100%;
}
#choose {
	margin: 0 auto;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
}
#clock {
	height: 100%;
	width: 100vh;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	display: none;
}

.border {
	height: var(--clock-size);
	width: var(--clock-size);
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	border: 6vh solid #303030;
}

/* --------------- SVG --------------- */

svg {
	display: block;
	position: absolute;
}

svg g path {
	fill: none;
	stroke-width: 5px;
	fill-rule: evenodd;
	cursor: pointer;
}
svg g path:hover {
	stroke-width: 10px;
	fill-rule: evenodd;

}

svg g text textPath {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 50%;
	font-weight: 500;
	vertical-align: 6px;
	/* text-shadow: -3px 0px 5px black; */
}

svg g text textPath tspan {
	baseline-shift: 6px;
}

/* --------------- /SVG --------------- */

.line {
	height: 86.5vh;
	width: 0.3vh;
	background: linear-gradient(
		0deg,
		rgba(164, 164, 164, 1) 0%,
		rgba(164, 164, 164, 1) 1.3%,
		rgba(0, 0, 0, 0) 1.3%,
		rgba(0, 0, 0, 0) 7.3%,
		rgba(164, 164, 164, 1) 7.3%,
		rgba(164, 164, 164, 1) 8.5%,
		rgba(0, 0, 255, 0) 8.5%,
		rgba(0, 0, 255, 0) 91.5%,
		rgba(164, 164, 164, 1) 91.5%,
		rgba(164, 164, 164, 1) 92.7%,
		rgba(0, 0, 0, 0) 92.7%,
		rgba(0, 0, 0, 0) 98.7%,
		rgba(164, 164, 164, 1) 98.7%,
		rgba(164, 164, 164, 1) 100%
	);
	position: fixed;
}

.lineB {
	height: 85.5vh;
	width: 0.2vh;
	background: linear-gradient(
		0deg,
		rgba(75, 75, 75, 1) 0%,
		rgba(75, 75, 75, 1) 1%,
		rgba(0, 0, 0, 0) 1%,
		rgba(0, 0, 0, 0) 6.7%,
		rgba(75, 75, 75, 1) 6.7%,
		rgba(75, 75, 75, 1) 7.7%,
		rgba(0, 0, 255, 0) 7.7%,
		rgba(0, 0, 255, 0) 92.4%,
		rgba(75, 75, 75, 1) 92.4%,
		rgba(75, 75, 75, 1) 93.4%,
		rgba(0, 0, 0, 0) 93.4%,
		rgba(0, 0, 0, 0) 99%,
		rgba(75, 75, 75, 1) 99%,
		rgba(75, 75, 75, 1) 100%
	);
	position: fixed;
}

.hours {
	position: absolute;
	width: 40px;
	height: 40px;
	text-align: center;
}

.hours > .hour-box {
	font-family: "Segoe UI", Arial, Helvetica, sans-serif;
	font-size: 3vh;
	font-weight: 600;
	position: absolute;
	text-align: center;
	line-height: 40px;
	width: 40px;
	height: 40px;
	/* padding-top: 8px; */
	top: -1px;
}

.hand {
	width: 0;
	height: 0;
	border-left: 1.5vh solid transparent;
	border-right: 1.5vh solid transparent;
	border-bottom: 36.3vh solid #d3d3d3;
	position: absolute;
	top: 13.7vh;
	transform-origin: bottom center;
	/* transform: rotate(0deg); */
}

.digital {
	position: absolute;
	height: 40vh;
	width: 40vh;
	background-color: var(--background-color);
	border-radius: 50%;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 8.5vh;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* opacity: 0.4; */
}

/* hour-minutes (:) separator */
@keyframes showThenHide {
	0% {
		opacity: 1;
	}

	99.99% {
		opacity: 1;
	}
		
	100% {
		opacity: 0.17;
	}
}

.separator {
	animation-name: showThenHide;
	animation-fill-mode: forwards;
	animation-duration: 0.5s;
}

.meridiem {
	font-size: 45%;
	font-weight: 600;
	position: relative;
	bottom: 0.2vh;
}

.task {
	margin-top: 1.5vh;
	/* color: red; */
	font-size: 40%;
	font-weight: 500;
}

@media screen and (max-aspect-ratio: 1/1) {
	:root {
		--hours-radius: translateY(39.4vw);
	}

	#clock {
		height: 100vw;
		width: 100%;
	}

	.border {
		border: 6vw solid #303030;
	}

	.border2 {
		border: 1.3vw solid #f10000;
		height: 88vw;
		width: 88vw;
	}

	.line {
		height: 85.5vw;
		width: 0.3vw;
	}

	.lineB {
		height: 85.5vw;
		width: 0.2vw;
	}

	.hours .hour-box {
		font-size: 3vw;
	}

	.hand {
		top: 13.7vw;
		border-left: 1.5vw solid transparent;
		border-right: 1.5vw solid transparent;
		border-bottom: 36.3vw solid #d3d3d3;
	}

	.digital {
		height: 40vw;
		width: 40vw;
		font-size: 8.5vw;
	}

	.task {
		margin-top: 2vw;
	}
}

.hours > .hour-box:nth-child(1) {
	transform: rotate(0deg) var(--hours-radius);
}

.hours > .hour-box:nth-child(2) {
	transform: rotate(calc(360deg / 24 * 1)) var(--hours-radius);
}

.hours > .hour-box:nth-child(3) {
	transform: rotate(calc(360deg / 24 * 2)) var(--hours-radius);
}

.hours > .hour-box:nth-child(4) {
	transform: rotate(calc(360deg / 24 * 3)) var(--hours-radius);
}

.hours > .hour-box:nth-child(5) {
	transform: rotate(calc(360deg / 24 * 4)) var(--hours-radius);
}

.hours > .hour-box:nth-child(6) {
	transform: rotate(calc(360deg / 24 * 5)) var(--hours-radius);
}

.hours > .hour-box:nth-child(7) {
	transform: rotate(calc(360deg / 24 * 6)) var(--hours-radius);
}

.hours > .hour-box:nth-child(8) {
	transform: rotate(calc(360deg / 24 * 7)) var(--hours-radius);
}

.hours > .hour-box:nth-child(9) {
	transform: rotate(calc(360deg / 24 * 8)) var(--hours-radius);
}

.hours > .hour-box:nth-child(10) {
	transform: rotate(calc(360deg / 24 * 9)) var(--hours-radius);
}

.hours > .hour-box:nth-child(11) {
	transform: rotate(calc(360deg / 24 * 10)) var(--hours-radius);
}

.hours > .hour-box:nth-child(12) {
	transform: rotate(calc(360deg / 24 * 11)) var(--hours-radius);
}

.hours > .hour-box:nth-child(13) {
	transform: rotate(calc(360deg / 24 * 12)) var(--hours-radius);
}

.hours > .hour-box:nth-child(14) {
	transform: rotate(calc(360deg / 24 * 13)) var(--hours-radius);
}

.hours > .hour-box:nth-child(15) {
	transform: rotate(calc(360deg / 24 * 14)) var(--hours-radius);
}

.hours > .hour-box:nth-child(16) {
	transform: rotate(calc(360deg / 24 * 15)) var(--hours-radius);
}

.hours > .hour-box:nth-child(17) {
	transform: rotate(calc(360deg / 24 * 16)) var(--hours-radius);
}

.hours > .hour-box:nth-child(18) {
	transform: rotate(calc(360deg / 24 * 17)) var(--hours-radius);
}

.hours > .hour-box:nth-child(19) {
	transform: rotate(calc(360deg / 24 * 18)) var(--hours-radius);
}

.hours > .hour-box:nth-child(20) {
	transform: rotate(calc(360deg / 24 * 19)) var(--hours-radius);
}

.hours > .hour-box:nth-child(21) {
	transform: rotate(calc(360deg / 24 * 20)) var(--hours-radius);
}

.hours > .hour-box:nth-child(22) {
	transform: rotate(calc(360deg / 24 * 21)) var(--hours-radius);
}

.hours > .hour-box:nth-child(23) {
	transform: rotate(calc(360deg / 24 * 22)) var(--hours-radius);
}

.hours > .hour-box:nth-child(24) {
	transform: rotate(calc(360deg / 24 * 23)) var(--hours-radius);
}

.hours > .hour-box:nth-child(1) > div {
	transform: rotate(0deg);
}

.hours > .hour-box:nth-child(2) > div {
	transform: rotate(calc(360deg / 24 * -1));
}

.hours > .hour-box:nth-child(3) > div {
	transform: rotate(calc(360deg / 24 * -2));
}

.hours > .hour-box:nth-child(4) > div {
	transform: rotate(calc(360deg / 24 * -3));
}

.hours > .hour-box:nth-child(5) > div {
	transform: rotate(calc(360deg / 24 * -4));
}

.hours > .hour-box:nth-child(6) > div {
	transform: rotate(calc(360deg / 24 * -5));
}

.hours > .hour-box:nth-child(7) > div {
	transform: rotate(calc(360deg / 24 * -6));
}

.hours > .hour-box:nth-child(8) > div {
	transform: rotate(calc(360deg / 24 * -7));
}

.hours > .hour-box:nth-child(9) > div {
	transform: rotate(calc(360deg / 24 * -8));
}

.hours > .hour-box:nth-child(10) > div {
	transform: rotate(calc(360deg / 24 * -9));
}

.hours > .hour-box:nth-child(11) > div {
	transform: rotate(calc(360deg / 24 * -10));
}

.hours > .hour-box:nth-child(12) > div {
	transform: rotate(calc(360deg / 24 * -11));
}

.hours > .hour-box:nth-child(13) > div {
	transform: rotate(calc(360deg / 24 * -12));
}

.hours > .hour-box:nth-child(14) > div {
	transform: rotate(calc(360deg / 24 * -13));
}

.hours > .hour-box:nth-child(15) > div {
	transform: rotate(calc(360deg / 24 * -14));
}

.hours > .hour-box:nth-child(16) > div {
	transform: rotate(calc(360deg / 24 * -15));
}

.hours > .hour-box:nth-child(17) > div {
	transform: rotate(calc(360deg / 24 * -16));
}

.hours > .hour-box:nth-child(18) > div {
	transform: rotate(calc(360deg / 24 * -17));
}

.hours > .hour-box:nth-child(19) > div {
	transform: rotate(calc(360deg / 24 * -18));
}

.hours > .hour-box:nth-child(20) > div {
	transform: rotate(calc(360deg / 24 * -19));
}

.hours > .hour-box:nth-child(21) > div {
	transform: rotate(calc(360deg / 24 * -20));
}

.hours > .hour-box:nth-child(22) > div {
	transform: rotate(calc(360deg / 24 * -21));
}

.hours > .hour-box:nth-child(23) > div {
	transform: rotate(calc(360deg / 24 * -22));
}

.hours > .hour-box:nth-child(24) > div {
	transform: rotate(calc(360deg / 24 * -23));
}

.line1 {
	transform: rotate(0deg);
}

.line2 {
	transform: rotate(calc(360deg / 24 * 1));
}

.line3 {
	transform: rotate(calc(360deg / 24 * 2));
}

.line4 {
	transform: rotate(calc(360deg / 24 * 3));
}

.line5 {
	transform: rotate(calc(360deg / 24 * 4));
}

.line6 {
	transform: rotate(calc(360deg / 24 * 5));
}

.line7 {
	transform: rotate(calc(360deg / 24 * 6));
}

.line8 {
	transform: rotate(calc(360deg / 24 * 7));
}

.line9 {
	transform: rotate(calc(360deg / 24 * 8));
}

.line10 {
	transform: rotate(calc(360deg / 24 * 9));
}

.line11 {
	transform: rotate(calc(360deg / 24 * 10));
}

.line12 {
	transform: rotate(calc(360deg / 24 * 11));
}

.lineB1 {
	transform: rotate(7.5deg);
}

.lineB2 {
	transform: rotate(calc(calc(360deg / 24 * 1) + 7.5deg));
}

.lineB3 {
	transform: rotate(calc(calc(360deg / 24 * 2) + 7.5deg));
}

.lineB4 {
	transform: rotate(calc(calc(360deg / 24 * 3) + 7.5deg));
}

.lineB5 {
	transform: rotate(calc(calc(360deg / 24 * 4) + 7.5deg));
}

.lineB6 {
	transform: rotate(calc(calc(360deg / 24 * 5) + 7.5deg));
}

.lineB7 {
	transform: rotate(calc(calc(360deg / 24 * 6) + 7.5deg));
}

.lineB8 {
	transform: rotate(calc(calc(360deg / 24 * 7) + 7.5deg));
}

.lineB9 {
	transform: rotate(calc(calc(360deg / 24 * 8) + 7.5deg));
}

.lineB10 {
	transform: rotate(calc(calc(360deg / 24 * 9) + 7.5deg));
}

.lineB11 {
	transform: rotate(calc(calc(360deg / 24 * 10) + 7.5deg));
}

.lineB12 {
	transform: rotate(calc(calc(360deg / 24 * 11) + 7.5deg));
}

/* --------------- Calendar --------------- */

#myCalendar {
	position: fixed;
	right: 0px;
	bottom: 0px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: #eeeeee;
	border-radius: 0;
	border: none !important;
	box-shadow: none;
	font-size: 14px;
	width: 260px;
	margin-right: 20px;
	margin-bottom: 20px;
	text-decoration: none !important;
}

.vanilla-calendar-header {
	align-items: flex-end !important;
	text-align: right !important;
	text-transform: none !important;
	font-family: "Segoe UI Light", "Times New Roman", sans-serif !important;
	color: rgb(129, 129, 129);
	font-size: 26px;
	font-weight: 100;
	padding: 0 !important;
	padding-bottom: 10px !important;
}

.vanilla-calendar-header__label {
	text-align: right !important;
}

.vanilla-calendar-btn {
	display: none;
}

.vanilla-calendar-week span {
	border-left: 1px solid #4c4c4c;
	border-bottom: 1px solid #4c4c4c;
	border-top: 1px solid #4c4c4c;
	padding: 10px 0 !important;
	font-weight: 400 !important;
	text-transform: none !important;
	color: #969696 !important;
}

.vanilla-calendar-week span:last-child {
	border-right: 1px solid #4c4c4c;
}

.vanilla-calendar .vanilla-calendar-date {
	background-color: var(--background-color);
	/* border: 1px solid #4c4c4c; */
	border-radius: 0;
	border: none !important;
	border-top: 1px solid #4c4c4c !important;
	border-right: 1px solid #4c4c4c !important;
	border-bottom: 1px solid #4c4c4c !important;
}

.vanilla-calendar .vanilla-calendar-date--today {
	background-color: #25384a;
	font-weight: 700;
}

.vanilla-calendar-body {
	border-left: 1px solid #4c4c4c;
	padding-bottom: 0px !important;
	border-bottom: 1px solid #4c4c4c;
	border-right: 1px solid #4c4c4c;
}

.vanilla-calendar-date:first-child {
	border-left: 1px solid #4c4c4c !important;
}
